<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" align="center">
      <h3>{{title}}</h3>
    </div>
    <div class="col-md-12" style="margin-bottom: 2.5rem">
      <button class="btn btn-warning" (click)="addNewFormulario()"> add registro</button>
    </div>
    <div class="col-md-10">
      <form [formGroup]="solicitudForm">
        <div class="table-responsive">
          <table class="table table-bordered" formArrayName="solicitud">
            <thead>
            <tr>
              <th>partida</th>
              <th>opciones</th>
              <th>factura/folio</th>
              <th>documento</th>
              <th>subtotal</th>
              <th>iva</th>
            </tr>
            </thead>
            <tbody *ngFor="let sol of solicitudForm['controls'].solicitud['controls']; let ids=index">
            <tr formGroupName="{{ids}}">
              <td><input type="text" value="{{ids}}" readonly></td>
              <td>
                <button class="btn btn-primary" (click)="openModalLg(contenido)" style="margin-right: .5rem">
                  add +
                  <span class="badge badge-light">{{ sol['controls'].desglose['controls'].length }}</span>
                </button>
                <button class="btn btn-danger" (click)="removerSolicitud(ids)" >RM - </button>

              </td>
              <td><input type="text" value="" formControlName="factura"></td>
              <td><input type="text" value="" formControlName="documento"></td>
              <td><input type="text" value="" formControlName="subtotal"></td>
              <td><input type="text" value="" formControlName="iva"></td>

              <ng-template #contenido let-modal>
                <div class="modal-header">
                  <h4 class="modal-title">Modal title</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <button class="btn btn-primary" (click)="addNewDesglose(ids)" style="margin-bottom: 1.5rem"> add +</button>
                  <table class="table table-bordered" formArrayName="desglose">
                    <thead>
                    <tr>
                      <th> partida</th>
                      <th> subtotal</th>
                      <th> centro costo</th>
                      <th>opciones</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let des of sol['controls'].desglose['controls']; let idd=index">
                    <tr formGroupName="{{idd}}">
                      <td><input type="text" value="{{idd}}" readonly></td>
                      <td><input type="text" formControlName="subtotal"></td>
                      <td><input type="text" formControlName="centroCosto"></td>
                      <td>
                        <button type="button" class="btn btn-danger" (click)="removerDesglose(ids, idd)">RM -</button>
                      </td>
                    </tr>
                    </tbody>
                  </table>

                </div>
                <div class="modal-footer">
                 <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                </div>
              </ng-template>


            </tr>


            </tbody>
          </table>
        </div>


      </form>
    </div>

    <div class="col-md-2">
      <pre> {{ solicitudForm.value | json  }} </pre>
    </div>
  </div>
</div>
